<app-navbar></app-navbar>

<div style="text-align:center" class='container'>

    <div class='keyboard'>
      
      <div class ='caption'>
        <span class= 'border'>
          Johnnie Tran
          <br>
          Software Developer
        </span>
      </div>
      
    </div>

    <div>
      <img src="assets/Profilepic.png" id="profile_pic">
      
      <div class="aboutme">

        <h1>About Me</h1>
        <p>I am a recent graduate from a coding bootcamp in San Jose called Coding Dojo. </p>
        <a href=""><img src="/assets/resumelogo.png" width="40">Resume</a>
        <a href="https://github.com/jtran026"><img src="/assets/githublogo.png" width="40">Github</a>
        <a href="https://www.linkedin.com/in/jtran026/"><img src="/assets/linkedinlogo.svg" width="40">LinkedIn</a>
      </div>

    </div>


    
    <div class='digital' id='navprojects'>
      
      <div class ='caption'>
        <span class= 'border' >Projects</span>
      </div>
      
    </div>
  
    <div>
      <div class='projects'>
        <h3>Dojo Attendance Tracker</h3>
        <p>iOS application that records the amount of time spent inside Coding Dojo as well as the time spent outside; can be expanded into an attendance tracker for Coding Dojo.</p>
      </div>
      <div class='projects'>
        <h3>Renal Warrior</h3>
        <p>Website for Renal Warrior Foundation. Created using MEAN (MongoDB, Express.js, Angular, and Node.js).</p>
      </div>
      <div class='projects'>
        <h3>Crypto Compare</h3>
        <p>Application to compare difference in Cryptocurrency prices between major exchanges such as Binance, Coinbase, and Bittrex. </p>
      </div>
    </div>
    
    <div class='blockchain' id='navskills'>
      
      <div class ='caption'>
          <span class= 'border'>Skills</span>
      </div>
      
    </div>
  
    <div class="list">
      <div class='skills'>
        <h6>Languages</h6>
        <ul>
          <li>Javascript (ES6)</li>
          <li>Swift 4</li>
          <li>Python</li>
        </ul>
      </div>
  
      <div class='skills'>
        <h6>Front-End</h6>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>jQuery</li>
          <li>JSON</li>
        </ul>
      </div>
  
      <div class='skills'>
        <h6>Databases</h6>
        <ul>
          <li>SQL (MySQL/SQLite)</li>
          <li>NoSQL (MongoDB)</li>
          <li>Mongoose.js</li>
          <li>Core Data</li>
          <li>CRUD Operations</li>
        </ul>
      </div>
  
      <div class='skills'>
        <h6>Frameworks</h6>
        <ul>
          <li>Angular</li>
          <li>Node.js</li>
          <li>Socket.IO</li>
          <li>Django</li>
          <li>Bootstrap</li>
        </ul>
      </div>   
  
      <div class='skills'>
        <h6>Miscellaneous</h6>
        <ul>
          <li>Algorithms</li>
          <li>Software Deployment</li>
          <li>RESTful Architecture/API</li>
          <li>Object Oriented Programming</li>
        </ul>
      </div>
    </div>
  
  </div>