<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="toggleNavbar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Johnnie Tran</a>
        </div>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#navprojects">Projects</a></li>
              <li><a href="#navskills">Skills</a></li>
            </ul>
        </div>
    </div>
</nav>
